<footer class="footer bg-dark py-3 mt-auto">
    <div class="container footer">
        <p style="color: rgb(88, 94, 99);">© <%= new Date().getFullYear() %> YelpCamp</p>
        <p style="color: rgb(88, 94, 99);">Developed by Vinidu Minsara with ♥️</p>
    </div>
</footer>
